<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for obj in context.all %}
    <p>{{ obj.firstname }} | {{ obj.surname }} | {{ obj.age }} | {{ obj.classrom }} | {{ obj.teacher }}</p>
    {% endfor %}
    <hr>
    <h3>{{ context.data }}</h3>
    <h3>{{ context.data1 }}</h3>
    <h3>{{ context.data2 }}</h3>
    <h3>{{ context.data3 }}</h3>
    <h3>{{ context.data4 }}</h3>
    <h3>{{ context.union }}</h3>
    <h3>{{ context.union_dict }}</h3>
    <h3>{{ context.only }}</h3>
    {% for x in context.raw %}
    <p>{{ x.age }}</p>
    {% endfor %}
    <h3>{{ context.counter }}</h3>
    {% for item in context.dict %}
    <p>{{ item.classroom }}</p>
    {% endfor %}
</body>
</html>