<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>{{ context.vars }}</p>
    <p>{{ context.min_population }}</p>
    <p>{{ context.avg_population }}</p>
    <p>{{ context.city_num }}</p>
    <p>{{ context.above_avg }}</p>
    <p>{{ context.avg_all_cities }}</p>
    <p>{{ context.data }}</p>
</body>
</html>