<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>{{ context.val_list }}</p>
    <p>{{ context.iregex }}</p>
    <p>{{ context.iregex_count }}</p>
    <p>{{ context.inter }}</p>
    <p>{{ context.inter1 }}</p>
    <p>{{ context.diff }}</p>
    <p>{{ context.vars }}</p>
    <p>{{ context.min_population }}</p>
    <p>{{ context.avg_population }}</p>
    <p>{{ context.city_num }}</p>
    <p>{{ context.above_avg }}</p>
    <p>{{ context.avg_all_cities }}</p>

    {% for obj in context.data %}
    <p>{{ obj.name }} | {{ obj.av_pop }}</p>
    {% endfor %}
    <hr>
    {% for country in context.data1 %}
    <p>{{ country.name }} number of cities: {{ country.num_cities }}</p>
    {% endfor %}
    <hr>
    <p>{{ context.data2.city__population__min }}</p>
    <hr>
    {% for country in context.data3 %}
    <p>Country with averagae population greater than 2 mln - {{ country.name }}</p>
    {% endfor %}
    <hr>
    <p>{{ context.data4.num_cities__min }}</p>
    <hr>
    {% for i in context.data5 %}
    {% if i.num_cities > 0 %}
    <p>{{ i.name }} | {{ i.num_cities }}</p>
    {% endif %}
    {% endfor %}
    <hr>
    {% for country in context.data6 %}
    <p>{{ country.name }}</p>
    {% endfor %}




</body>
</html>